body {
    line-height: 1.4em;
    background-color: white;
    color: #404040;
    font-family: Helvetica,Arial,sans-serif;
    font-family: "Times New Roman", Times, serif;
    font-family: Garamond, serif;
    font-size: 20px;
    alink: #000000;
    link: #000000;
    vlink: #000000;
}

a {
    color: black;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 0;
    width: 80%;
    text-align: left;
    vertical-align: center;
}

table.body {
    line-height: 1.4em;
    color: #333333;
    width: 75%;
    cellpadding: 5px;
    cellspacing: 2px;
    margin-top: 40px;
    font-size: .9em;
    color: #404040;
}

table.nameHeader {
    width: 80%;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 15px;
    vertical-align: bottom;
    line-height: 1.4em;
}

table.menuBar {
    width: 80%;
    background-color: #d9d9d9;
    height: 50px;
    margin-bottom: 15px;
    cellpadding: 10px;
    cellspacing: 2px;
    text-align: center;
    vertical-align: middle;
}

table.footer {
    margin-top: 25px;
    background-color: #d9d9d9;
    height: 20px;
}

h1 {
    line-height: 1.1;
    font-family: Futura, sans-serif;
}

h2 {
    line-height: 1;
    font-size: 20px;
    display:inline;
    font-family: Futura, sans-serif;
}

.myName {
    font-size:4.5em;
    vertical-align: bottom;
    line-height:0.95;
    font-weight: 100;
    font-family: Futura, sans-serif;
}