body {
    line-height: 1.4em;
    background-color: white;
    color: #404040;
    font-family: Helvetica,Arial,sans-serif;
    font-family: "Times New Roman", Times, serif;
    font-family: Garamond, serif;
    font-size: 20px;
    alink: #000000;
    link: #000000;
    vlink: #000000;
}

a {
    color: black;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 0;
    width: 80%;
    text-align: left;
    vertical-align: center;
}

table.body {
    line-height: 1.4em;
    color: #333333;
    width: 75%;
    cellpadding: 5px;
    cellspacing: 2px;
    margin-top: 40px;
    font-size: .9em;
    color: #404040;
}


table.nameHeader {
    width: 80%;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 15px;
    vertical-align: bottom;
    line-height: 1.4em;
    font-weight: 150;
}

table.menuBar {
    width: 80%;
    background-color: #d9d9d9;
    height: 50px;
    margin-bottom: 15px;
    cellpadding: 10px;
    cellspacing: 2px;
    text-align: center;
    vertical-align: middle;
    font-family: Futura, sans-serif;
    /*font-family: Helvetica,Arial,sans-serif;*/
}

table.footer {
    margin-top: 25px;
    background-color: #d9d9d9;
    height: 20px;
}

h1 {
    line-height: 1.1;
    font-family: Futura, sans-serif;
    font-weight: 50;
    font-size: 28px;
}

h2 {
    line-height: 1;
    font-size: 20px;
    display:inline;
    font-family: Futura, sans-serif;
}

nameTD {
    width: 50%;
    vertical-align: bottom;
}

.myName {
    font-size:5em;
    vertical-align: bottom;
    line-height: 0.90;
    font-weight: 100;
    font-family: Futura, sans-serif;
}

.flex-container {
    padding:0;
    margin:0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.flex-item {
    padding: 5px;
    width: 210px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 350px) {
    .h1 {
        font-size:12px;
    }
}

@media only screen and (max-width: 570px) {
    .flex-item {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 650px) {
    .myName {
        font-size:4em;
        text-align: center;
    }
    table.menuBar tr > *{
        display: block;
    }
    table.menuBar tr {
        display: table-cell;
    }
    .extra {
        display: none;
    }
    table.nameHeader {
        width: 100%;
        horizontal-align: center;
        text-align: center;
    }
}

@media only screen and (min-width: 840px) and (max-width: 1200px) {
    .flex-container {
        width: 575px;
    }
}

